{if $userData}
<h3> Profil uživatele {$userData->login} </h3>
<b> Vendor: <b> {if $userData->access_level == "vendor"} Ne {else} Ano{/if}
<h4> Kontakt: </h4>
<b> Jabber: </b> {if $userData->jabber} {$userData->jabber} {else} Nevyplňen. {/if}
<br>
<b> Wickr: </b>
{else}
<font color="red">Neplatna URL - Neexistujici uzivatel.</font>
{/if}
