{layout '../@layout.latte' }
{block content}
Datum objednávky: {$orderInfo->date_ordered }
<br>
Jméno produktu: {$orderInfo->product_name }
<br>
Objednané množství: {$orderInfo->quantity }
<br>
Status: {$orderInfo->status }
<br>

{if $fdbk}
    <a n:href="Orders:Feedback $orderInfo->order_id">Změnit Finalize Early Feedback </a>
{/if}

{control finalizeForm}
{control partialReleaseForm}

{/block}

