extensions:
    dibi: Dibi\Bridges\Nette\DibiExtension22

parameters:
    dibi:
        driver: mysql
        host: localhost
        username: root
        password: fzh5df2ax
        dbname: shop
        lazy: TRUE

services:
    database:
        class: Dibi\Connection
        factory: dibi::connect([
        'driver': %dibi.driver% ,
        'host' : %dibi.host%  , 
        'username' : %dibi.username% ,  
        'password' : %dibi.password%  ,
        'database' : %dibi.dbname% 
        'profiler' : TRUE ])
        run: TRUE
    
    - App\Model\Settings(@database)
    - App\Model\Messages(@database)
    - App\Model\Wallet(@database)
    - App\Model\Registration(@database)
    - App\Model\UserManager(@database)
    - App\Model\Listings(@database)
    

    app.authorizatorFactory: App\Auth\AuthorizatorFactory
    app.authorizator: @app.authorizatorFactory::create

    
    
