#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
        - App\Forms\FeedbackFormFactory
        - App\Forms\ListingFormFactory
        - App\Forms\VendorNotesFactory
        - App\Services\PriceConverter
     
        baseHelper:
            class: App\Helpers\BaseHelper
            arguments: [@application]
            inject: yes
        orderHelper:
            class: App\Helpers\OrderHelper
            inject: yes
        listingsHelper:
            class: App\Helpers\ListingsHelper
            inject: yes

        router: App\RouterFactory::createRouter
           
           