{layout '../@layout.latte'}
{block content}
<h3> Peněženka: </h3>
Vaše btc adresa je: {$walletAddress} <br> Balance: {$balance} BTC
<br>
<a n:href="newAddress!"> Vygenerovat novou BTC adresu pro tento účet </a>
<h3> Vybrat BTC: </h3>
{control withdrawForm}
{/block}
