{layout '../@layout.latte'}
{block content}
{var $postage = 0}
{form listingForm}
<table>
{control $form errors}
{foreach $form->controls as $name => $field}
    <tr>
    <th>{label $name /}<th>
    {if $presenter->lHelp->compareComponentName($name) == TRUE }
    <td>{input $name} &nbsp; <a n:href="deletePostage! $postage"> Smazat </a></td>
    {? $postage++}
    {else}
    <td>{input $name}</td>
    {/if}
    </tr>
{/foreach}
</table>
{/form}
{/block}
